* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}

p#gen {
    position: fixed;
    top: 0px;
    right: 90px;
    font-size: 2rem;
    color: #325928;

}

.title {
    position: fixed;
    top: 0px;
    right: 130px;
    font-size: 2rem;
    color: #5CA54A;
}

.panel {
    position: fixed;
    top: 150px;
    right: 10px;
    display: flex;
    flex-direction: column;

    .dna-panel {
        display: flex;
        flex-direction: column;
    }
}

.panel-2 {
    position: fixed;
    bottom: 30px;
    right: 100px;
    display: flex;
    flex-direction: column;

    .dna-panel {
        display: flex;
        flex-direction: column;
    }
}

#most_healthy,
#mitose {
    font-weight: bolder;
    color: blueviolet;
}

#pop {
    color: darkred;
    font-weight: bold;
    ;
}

li[id],
#mate {
    color: crimson;
    ;
}

.title-dna {
    font-weight: bold;
    color: #142e22;
}

ul {
    font-weight: bold;
    color: #040632;
}

#mate,
#mitose,
#pop {
    font-size: 1.2rem;
}